node_modules
/.next/
/out/
/build
.DS_Store
*.pem
npm-debug.log*
*.log
# API keys and secrets
.env
.env*.local
.env.local
.env.production
.env.development
.env.staging
*.key
*.secret
/logs/
.vercel
*.tsbuildinfo
next-env.d.ts
